<h1>form</h1>

<%= simple_form_for @sports_equipment do |f| %>
  <%= f.input :category, placeholder: 'Tennis' %>
  <%= f.input :size, placeholder: 'S|M|L|XL' %>
  <%= f.input :price, placeholder: 'Price per hour' %>
  <%= f.input :condition, placeholder: 'Rate from o to 5' %>
  <%= f.input :availability %>
  <%= f.submit  value: 'Rent your racket', class: "btn btn-success" %>
<% end %>
