<h1>Have a look to our Rackets</h1>
  <%= link_to "Add a Racket", new_sports_equipment_path, class: "btn btn-outline-success" %>

<h2>All our Sports Equipments (<%= SportsEquipment.count %>)</h2>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-6">
      <% @sports_equipments.each do |equipment| %>
        <h2><%= equipment.category %></h2>
        <p><%= equipment.size %></p>
        <p><%= equipment.availability %></p>
        <%= link_to "More info", sports_equipment_path(equipment) %>
        <%= link_to "Edit", edit_sports_equipment_path(equipment), class: "btn btn-outline-warning" %>
        <%= link_to "Remove", sports_equipment_path(equipment), class: "btn btn-outline-danger", method: :delete, data: {
          confirm: "Are you sure?" } %>
        <% end %>
    </div>
  </div>
</div>


