<% if user_signed_in? %>
  <%= current_user.email %>
<% end %>
<div class="container">
  <div class="container-2">


  <div class="row">
    <div class="col-12 overlay">
      <%= image_tag "rackets.jpg", id:"banner_image" %>
    </div>
    <div class="centered pt-3">What sport do you want to play?</div>
    <%# <%= link_to "Check out our Rackets!", rackets_path, class:"btn btn-primary centered-2" %>
    </div>
  </div>

  <hr>
  <h3>Check out the our rated sellers!</h3>
    <div id="carouselExampleIndicators" class="carousel slide carousel-out" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "tennis.jpg", class:"d-block w-100", alt: "tennis-img" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "squash.jpg", class:"d-block w-100", alt: "squash-img" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "padel.jpg", class:"d-block w-100", alt: "padel-img" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>


