<!DOCTYPE html>
<html>
  <head>
    <title>StringsAndThings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://511302-1622464-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2016/07/esportes-raquete-leegues.png);">
      <div class="title">
        <span class="all">S</span>
        <span class="all">t</span>
        <span class="all">r</span>
        <span class="all">i</span>
        <span class="all">n</span>
        <span class="all">g</span>
        <span class="all">s</span>
        <span class="all">a</span>
        <span class="all">n</span>
        <span class="all">d</span>
        <span class="all">T</span>
        <span class="all">h</span>
        <span class="all">i</span>
        <span class="all">n</span>
        <span class="all">g</span>
        <span class="all">s</span>
      </div>
    </div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
     <p>StringsAndThings</p>
  </body>
</html>
